#souvenirs-saved-message {
    margin: 15px 0;
    display: none;
}

#souvenirs .form-line {
    margin: 25px 0 15px 0;
}

#souvenirs .notice {
    color: var(--color-error);
}

#souvenirs input[type="text"] {
    width: 80%;
}